{% extends 'base.html.twig' %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Add
                        <small></small>
                    </h2>
                </div>
                <div class="body">
                    <form action="{{ path('keyword-post-edit', {keywordId: keyword.keywordId}) }}" method="POST">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" value="{{ keyword.name }}" name="keyword"
                                               class="form-control" placeholder="Keyword"
                                               required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <select class="form-control show-tick" name="count" required>
                                    <option value="">-- Select Count --</option>
                                    <option {{ (keyword.count == '5') ? 'selected' : '' }} value="5">5</option>
                                    <option {{ (keyword.count == '10') ? 'selected' : '' }} value="10">10</option>
                                    <option {{ (keyword.count == '50') ? 'selected' : '' }} value="50">50</option>
                                    <option {{ (keyword.count == '100') ? 'selected' : '' }} value="100">100</option>
                                    <option {{ (keyword.count == '200') ? 'selected' : '' }} value="200">200</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control show-tick" name="language" required>
                                    <option value="">-- Select Language --</option>
                                    <option {{ (keyword.language == 'tr') ? 'selected' : '' }} value="tr">Turkish
                                    </option>
                                    <option {{ (keyword.language == 'en') ? 'selected' : '' }} value="en">English
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn bg-cyan btn-block btn-lg waves-effect">Update</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset("assets/plugins/jquery-validation/jquery.validate.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add-form').validate({
                rules: {
                    keyword: {
                        maxlength: 140,
                        required: true
                    },
                    count: {
                        required: true
                    },
                    language: {
                        required: true
                    }
                },
                highlight: function (input) {
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.form-group').append(error);
                }
            });
        })
    </script>

{% endblock %}
